@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir';
    src: url('../public/fonts/number/vazir.eot') format('eot');
    src : url('../public/fonts/number/vazir.ttf') format('truetype'),
    url('../public/fonts/number/vazir.woff') format('woff');
}

body{
 font-family: 'vazir';
}